
.popup-open-btn{
	cursor: pointer;
}

.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 99998;
	background-color: rgba(0, 0, 0, .3);
	display: grid;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;
}
.popup_open {
	visibility: visible;
	opacity: 1;
}

.popup__container {
	position: relative;
	max-width: 500px;
	padding: 45px;
	z-index: 1;
	border-radius: 20px;
	margin: 30px 15px;
	background-color: white;
	box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
	transform: scale(0);
	transition: transform .3s;
}
.popup_open .popup__container {
	transform: scale(1);
}

.popup__close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 20px;
	line-height: 1;
	transition: color 0.3s ease 0s;
}

.popup__close-btn:hover {
	color: red;
}

.popup__close-btn:active {
	color: blue;
}



.popup {
	&_date-time {
	}

	&_table {

	}

	&__container {
	}

	&__content {
	}

	&__wrapper {
		display: flex;
		gap: 30px;
		margin-bottom: 20px;
	}

	&__date-time-item {
	}

	&__button {
		display: block;
		margin-left: auto;
	}

	&__table {
		display: grid;
		grid-template-columns: auto 1fr auto auto;
		column-gap: 20px;
		row-gap: 10px;
		margin-bottom: 20px;
	}

	&__table-body {
	}

	&__table-row {
	}

	&__table-data {

		&_count {
		}
	}

	&__button-close-table-row {
		font-weight: 700;
		color: var(--dark-color);
		cursor: pointer;
	}

	&__close-button {
		display: block;
		margin-left: auto;
	}
}
.hero {

	&__button {

		&_circle {
		}
	}
}

